{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="container">

  <div class="col-6">
    {% for message in app.flashes('notice') %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %}
    {% for message in app.flashes('delete') %}
      <div class="alert alert-danger mt-4">
        {{ message }}
      </div>
    {% endfor %}
    <div class="mt-4">
      <a class="btn btn-primary" href="{{ path('create') }}">Create</a>
    </div>
    <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Contnet</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for data in list %}
        <tr>
          <th scope="row">{{ data.id }}</th>
          <td>{{ data.title }}</td>
          <td>{{ data.content }}</td>
          <td>
            <a class="btn btn-warning" href="{{ path('update', { id: data.id }) }}">Update</a>
            <a class="btn btn-danger" href="{{ path('delete', { id: data.id }) }}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>

  </div>
</div>
{% endblock %}
